{% extends "base.html" %}

{% block head %}
{% endblock %}

{% block content %}
<div class="mt-4 mx-4">
  {% with messages = get_flashed_messages() %}
  {% if messages %}
  <ul class=flashes>
    {% for message in messages %}
    <li>
      <div class="alert alert-primary" role="alert">
        {{ message }}
      </div>
    </li>
    {% endfor %}
  </ul>
  {% endif %}
  {% endwith %}
  <!-- Button trigger modal -->
  <button style="color: black;" type="button" class="btn btn-primary" data-bs-toggle="modal"
    data-bs-target="#insertOne">
    Insert
  </button>

  <!-- Modal -->
  <div class="modal fade" id="insertOne" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <form action="/user_management/user_unit_role/insertOne" method="POST">
          <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel">menu</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">x</button>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-sm-12 col-md-6 col-lg-6">
                <div class="mb-3">
                  <label for="exampleFormControlInput1" class="form-label">user</label>
                  <select name="userId" class="form-select" aria-label="Default select example">
                    <option value="" selected>Open this select menu</option>
                    {% for i in user %}
                    <option value="{{i.id}}">{{i.userName}}</option>
                    {% endfor %}

                  </select>
                </div>
              </div>
              <div class="col-sm-12 col-md-6 col-lg-6">
                <div class="mb-3">
                  <label for="exampleFormControlInput1" class="form-label">unit role</label>
                  <select name="unitRoleId" class="form-select" aria-label="Default select example">
                    <option value="" selected>Open this select menu</option>
                    {% for i in unitRole %}
                    <option value="{{i.id}}">{{i.roleId.roleName}} - {{i.unitId.unitName}}</option>
                    {% endfor %}

                  </select>
                </div>
              </div>
            </div>
            


          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary" style="color: black;">Insert</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <table class="table align-middle mb-4 bg-white">
    <thead class="bg-light">
      <tr>
        <th>No.</th>
        <th>Name</th>
        <th>Role</th>
        <th>Unit</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for i in menu %}
      <tr>
        <td>
          <div class="d-flex align-items-center">
            {{ loop.index + pagination.skip }}
          </div>
        </td>
        <td>
          <div class="d-flex align-items-center">
            <p class="fw-bold mb-1">{{ i.userId.userName }}</p>
          </div>
        </td>
        <td>
          <div class="d-flex align-items-center">
            <p class="fw-bold mb-1">{{ i.unitRoleId.roleId.roleName }}</p>
          </div>
        </td>
        <td>
          <div class="d-flex align-items-center">
            <p class="fw-bold mb-1">{{ i.unitRoleId.unitId.unitName }}</p>
          </div>
        </td>
        <td>
          <button type="button" class="btn btn-link btn-sm btn-rounded" data-bs-toggle="modal"
            data-bs-target="#findOne-{{i.id}}">
            Detail
          </button>
          <div class="modal fade" id="findOne-{{i.id}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="staticBackdropLabel">unit</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">x</button>
                </div>
                <div class="modal-body">

                  <div class="row">
                    <div class="col-sm-12 col-md-6 col-lg-6">
                      <div class="alert alert-primary" role="alert">
                        <h4 class="alert-heading">menu Id</h4>
                        <hr>
                        <p class="mb-0">{{i.id}}</p>
                      </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-6">
                      <div class="alert alert-primary" role="alert">
                        <h4 class="alert-heading">unit Name</h4>
                        <hr>
                        <p class="mb-0">{{i.unitName}}</p>
                      </div>
                    </div>
                  </div>
                  
                  <div class="row">
                    <div class="col-sm-12 col-md-6 col-lg-6">
                      <div class="alert alert-primary" role="alert">
                        <h4 class="alert-heading">Created By</h4>
                        <hr>
                        <p class="mb-0">{{i.createdBy.userName}}</p>
                      </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-6">
                      <div class="alert alert-primary" role="alert">
                        <h4 class="alert-heading">Updated By</h4>
                        <hr>
                        <p class="mb-0">{{i.updatedBy.userName}}</p>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-12 col-md-6 col-lg-6">
                      <div class="alert alert-primary" role="alert">
                        <h4 class="alert-heading">Created At</h4>
                        <hr>
                        <p class="mb-0">{{i.createdAt}}</p>
                      </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-6">
                      <div class="alert alert-primary" role="alert">
                        <h4 class="alert-heading">Updated At</h4>
                        <hr>
                        <p class="mb-0">{{i.updatedAt}}</p>
                      </div>
                    </div>
                  </div>


                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
          <button type="button" class="btn btn-link btn-sm btn-rounded" data-bs-toggle="modal"
            data-bs-target="#updateOne-{{i.id}}">
            Update
          </button>
          <div class="modal fade" id="updateOne-{{i.id}}" data-bs-backdrop="static" data-bs-keyboard="false"
            tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
              <form action="/user_management/menu/updateOne?menuId={{i.id}}" method="POST">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">menu</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">x</button>
                  </div>
                  <div class="modal-body">
                    <div class="mb-3">
                      <label for="exampleFormControlInput1" class="form-label">menu Name</label>
                      <input value="{{i.menuName}}" name="menuName" type="text" class="form-control"
                        id="exampleFormControlInput1" placeholder="http method" required>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" style="color: black;">Update</button>
                  </div>
              </form>
            </div>
          </div>
</div>

<button type="button" class="btn btn-link btn-sm btn-rounded" data-bs-toggle="modal"
  data-bs-target="#deleteOne-{{i.id}}">
  Delete
</button>
<div class="modal fade" id="deleteOne-{{i.id}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">menu</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">x</button>
      </div>
      <div class="modal-body">
        <div class="alert alert-danger" role="alert">
          <!-- <h4 class="alert-heading">menu Id</h4>
          <hr> -->
          <p class="mb-0">id: {{i.id}} will be delete</p>
        </div>



      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <a href="/user_management/menu/deleteOne?menuId={{i.id}}">
          <button type="button" class="btn btn-primary" style="color: black;">Delete</button>

        </a>
      </div>
    </div>
  </div>
</div>
</td>
</tr>
{% endfor %}
</tbody>
</table>
{{ pagination.info }}
{{ pagination.links }}
</div>
{% endblock %}